{:kotoba.app/id "cloud.itonami.isic-6310", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia3bj6os4whmhk6sfkecb57ng54ww2e76g6ztwydzpjpybx6lrfau", :kotoba.app/embed-url "ipfs://bafkreia3bj6os4whmhk6sfkecb57ng54ww2e76g6ztwydzpjpybx6lrfau", :published {:archive "https://kotobase.net/ipfs/bafkreia3bj6os4whmhk6sfkecb57ng54ww2e76g6ztwydzpjpybx6lrfau", :size 90803, :put-status 201, :get-status 200, :at "2026-08-15T13:43:00.738Z"}}
